.body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .form-container {
    background-color: #1e2a4a; /* Cor azul escuro */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .form-title {
    text-align: center;
    color: #ffffff; /* Cor branca para o título */
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-field {
    margin-bottom: 15px;
  }
  
  .form-field label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff; /* Cor branca para os labels */
  }
  
  .form-field input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ffffff; /* Cor de fundo branca para os inputs */
    color: #333333; /* Cor do texto nos inputs */
  }
  
  .error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
  }
  
  .form-button {
    background-color: #6a0dad; /* Cor roxa */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form-button:hover {
    background-color: #5a0db0; /* Cor roxa mais escura ao passar o mouse */
  }
  